<div class="page" id="dashboard" style="display: block; width: 100%; float: left; margin-top: 0;">
  <div id="presenter" style="height: 170px;">
    <div id="presenter_balance_container">
      <span id="balance" onclick="_app._ui_visibility_toggle(this); _app._ui_visibility_toggle(document.getElementById('actualBalance'));" style="font-size: 48px;">
        {wallet_balance_trimmed}
      </span>
      <span id="actualBalance" onclick="_app._ui_visibility_toggle(this); _app._ui_visibility_toggle(document.getElementById('balance'));" style="display: none; font-size: 48px;">
        {wallet_balance_lira}
      </span>
      <i class="fas fa-external-link-alt" style="font-size: 10px; display: inline-block; vertical-align: middle; height: 35px; width: 30px; margin-right: -20px;" onclick="window.open('https://etherscan.io/token/0x49aaa160506f7e07e6c3f6cd6316b6866025cdcb?a={wallet_id}', '_system');"></i>
    </div>
    <div id="ether_balance" style="font-size: 12px; font-weight: normal; margin-top: 5px;">
      {wallet_balance_ether} ETH
    </div>
    <div id="token_name" style="border: 0; margin-top: 5px;">
      Lira Tokens
    </div>
  </div>
  <div class="page_content" style="position: fixed; top: 170px; background-color: white;">
    <div class="page_content_title">
      Recent Transactions
      <div style="clear: both;">
      </div>
    </div>
  </div>
  <div class="page_content" id="recent_transactions_container" style="margin-top: 210px; overflow-y: scroll; float: left;">
    <div id="empty_notice">
      <div class="tx_container" id="fetching_new_transaction" style="position: absolute; border-bottom: 0; width: 30px; height: 30px; left: calc(50% - 30px); text-align: center; display: block; opacity: 0;">
        <div style="width: 100%; height: 100%; background-color: white; float: left; margin-top: -50px; border-radius: 50px; padding: 5px; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);">
          <img src="templates/default/img/reload_spinner.svg" style="width: 100%; height: 100%; float: left;">
        </div>
      </div>
      <div class="tx_container" id="fetching_new_transaction_progress" style="border-bottom: 0; text-align: center; display: none;">
        Loading new transactions...
      </div>
      <div class="tx_container" id="nodata_transaction_history" style="border-bottom: 0; text-align: center; display: none;">
        No data to display.
      </div>
      <div style="clear: both;">
      </div>
    </div>
    <div id="recent_transactions" style="border-top: solid 1px #eee;">
      {wallet_txs}
      <div style="clear: both;">
      </div>
    </div>
    <div id="empty_notice_footer">
      <div class="tx_container" id="loading_transaction" onclick="_app._ui_update_transactions_load_more();" style="text-align: center; display: none; float: left;">
        Load More
      </div>
      <div class="tx_container" id="loading_transaction_progress" style="text-align: center; display: none; float: left;">
        Loading more transactions...
      </div>
      <div style="clear: both;">
      </div>
    </div>
    <div style="clear: both;">
    </div>
  </div>
  <div class="dual_button_container" id="dual_button_container">
    <input type="button" class="dual_button_left navigation" portal="send_funds" value="Send">
    <input type="button" class="dual_button_right navigation" portal="request_funds" value="Receive" portal="request_funds">
  </div>
</div>
