<div class="page" id="send_funds_failed" style="text-align: center;">
  <div class="page_title">
    Transfer Funds
    <div style="clear: both;">
    </div>
  </div>
  <div style="float: left; width: 100%; height: auto;">
    <div class="page_content_title">
      Transaction Failed
      <div style="clear: both;">
      </div>
    </div>
    <div class="send_funds_presenter">
      <i class="fas fa-times send_funds_presenter_chevron_icon" style="font-size: 80px;"></i>
    </div>
    <span id="send_funds_failed_presenter">
      Error - Transaction Failed.
  	</span>
    <div class="send_funds_content">
      <a class="navigation" portal="dashboard">Go to Dashboard</a>
    </div>
  </div>
</div>
