<div class="page" id="settings">
  <div class="page_title">
    Wallet Settings
    <div style="clear: both;">
    </div>
  </div>
  <div class="page_content">
    <div class="page_content_container">
      <div class="page_content_title">
        Configurations
        <div style="clear: both;">
        </div>
      </div>
    </div>
  </div>
  <div class="carousel">
    <span class="carousel_title">
      <i class="fas fa-wallet contact_icon"></i> Wallets List
    </span>
    <div class="page_content">
      <div class="page_content_container" id="wallet_list_container">
      </div>
    </div>
    <div class="page_inline_button">
      <div class="page_inline_button_inner" onclick="_app._ui_event_portals('settings_add_wallet');">
        <i class="fas fa-plus plus-icon"></i> Add New Wallet
      </div>
      <div style="clear: both;">
      </div>
    </div>
    <div style="clear: both;">
    </div>
  </div>

  <div class="carousel">
    <span class="carousel_title">
      <i class="fas fa-sitemap contact_icon"></i> Network Settings
    </span>
    <div class="page_content">
      <div class="page_content_container" id="network_list_container" style="padding-bottom: 10px;">
      </div>
    </div>
    <div style="clear: both;">
    </div>
  </div>
  <div class="carousel" style="border-bottom: 0;">
    <span class="carousel_title">
      <i class="fas fa-info-circle contact_icon"></i> About
    </span>
    <div class="page_content_container_left" id="about_list">
      <b>Version</b>
      <br>
      <span id="app_version_text">{app_version_number}</span>
      <div style="clear: both;">
      </div>
    </div>
    <div class="page_content_container_left" id="about_list">
      <b>License</b>
      <br>
      MIT License
      <div style="clear: both;">
      </div>
    </div>
    <div class="page_content_container_left" id="about_list">
      <b>Source code</b>
      <br>
      https://github.com/jenniferangelgit/LiraPay
      <div style="clear: both;">
      </div>
    </div>
    <div style="clear: both;">
    </div>
  </div>
</div>
