<div class="page" id="settings_add_wallet" style="text-align: center;">
  <div class="page_title">
    Add New Wallet
    <div style="clear: both;">
    </div>
  </div>
  <div class="page_content_title">
    Select Option
    <div style="clear: both;">
    </div>
  </div>
  <div class="page_content"  style="float: left; width: 100%; text-align: center; margin-top: -50px;">
    <div class="page_content_container">
      <div class="send_funds_presenter">
        <i class="fas fa-wallet send_funds_presenter_chevron_icon" style="font-size: 80px;"></i>
      </div>
      <div class="send_funds_content">
        Select an option to get started:
      </div>
      <div id="send_funds_buttons_container">
        <input type="button" class="navigation dual_button_left" portal="settings_wallet_create" value="Create">
        <input type="button" class="navigation dual_button_right" portal="settings_wallet_import" value="Import">
      </div>
    </div>
  </div>
</div>
